body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.photo {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo img {
    width: 100%;
    height: auto;
}
