<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>デジタルアルバム</title>
</head>
<body>
    <h1>デジタルアルバムへようこそ！</h1>
    <p>ここに写真を管理できます。</p>
    <a href="{% url 'album' %}">アルバムを見る</a>
    <p>ここでチャットできます。</p>
    <a href="{% url 'chat' %}">チャットを見る</a>
    <p>ここでタスク一覧管理できます。</p>
    <a href="{% url 'todolist' %}">タスク一覧を見る</a>
    <p>ここでマップでピン止めした一覧管理できます。</p>
    <a href="{% url 'location' %}">マップピン止め一覧を見る</a>
</body>
</html>
